<!--Achievements and Awards-->
<section class="section-padding awards-section" style="background-color:#F4F6F7">
    <div class="container">
        <div class="container-medium px-0">
            <h2 class="text-darkblue text-sm-center">Achievements & Awards</h2>
            <div class="text-large text-sm-center w-100 mx-auto" style="max-width:
                            767px;">
                <p>We have amassed varied satisfied clientele that have nothing but good
                    to say about us. Take a look.</p>
            </div>
        </div>
        <div class="awards-slider-box">
            <div class="awards-slider">
                <div class="awards-slider-item">
                    <div class="technologies-icon-box">
                        <img src="{{ url_for('static', filename='images/svgs/microsoft.svg') }}" alt="img"/>
                    </div>
                </div>
                <div class="awards-slider-item">
                    <div class="technologies-icon-box">
                        <img src="{{ url_for('static', filename='images/svgs/aws.svg') }}" alt="img"/>
                    </div>
                </div>
                <div class="awards-slider-item">
                    <div class="technologies-icon-box">
                        <img src="{{ url_for('static', filename='images/svgs/azure.svg') }}" alt="img"/>
                    </div>
                </div>
                <div class="awards-slider-item">
                    <div class="technologies-icon-box">
                        <img src="{{ url_for('static', filename='images/svgs/iso.svg') }}" alt="img"/>
                    </div>
                </div>
                <div class="awards-slider-item">
                    <div class="technologies-icon-box">
                        <img src="{{ url_for('static', filename='images/svgs/itfirm.svg') }}" alt="img"/>
                    </div>
                </div>
                <div class="awards-slider-item">
                    <div class="technologies-icon-box">
                        <img src="{{ url_for('static', filename='images/svgs/iso2013.svg') }}" alt="img"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <div class="badges-container">
                <div class="single-badge">
                    <img src="{{ url_for('static', filename='images/badge1.png') }}" alt="img"/>
                </div>
                <div class="single-badge">
                    <img src="{{ url_for('static', filename='images/badge2.png') }}" alt="img"/>
                </div>
                <div class="single-badge">
                    <img src="{{ url_for('static', filename='images/badge3.png') }}" alt="img"/>
                </div>
                <div class="single-badge">
                    <img src="{{ url_for('static', filename='images/badge4.png') }}" alt="img"/>
                </div>
                <div class="single-badge">
                    <img src="{{ url_for('static', filename='images/badge5.png') }}" alt="img"/>
                </div>
                <div class="single-badge">
                    <img src="{{ url_for('static', filename='images/badge6.png') }}" alt="img"/>
                </div>
                <div class="single-badge">
                    <img src="{{ url_for('static', filename='images/badge7.png') }}" alt="img"/>
                </div>
                <div class="single-badge">
                    <img src="{{ url_for('static', filename='images/badge6.png') }}" alt="img"/>
                </div>
                <div class="single-badge">
                    <img src="{{ url_for('static', filename='images/badge8.png') }}" alt="img"/>
                </div>
                <div class="single-badge">
                    <img src="{{ url_for('static', filename='images/badge9.png') }}" alt="img"/>
                </div>
                <div class="single-badge">
                    <img src="{{ url_for('static', filename='images/badge10.png') }}" alt="img"/>
                </div>
                <div class="single-badge">
                    <img src="{{ url_for('static', filename='images/badge3.png') }}" alt="img"/>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding reviews-section bg-cover-center text-white" style="background-image: url(static/images/pattren3.png);background-color: #001345;">
    <div class="container">
        <div class="container-medium px-0 text-center">
            <h2>Clients Reviews</h2>
            <div class="text-large mb-sm-5 mb-3 pb-1">
                <p>We have amassed varied satisfied clientele that have nothing but good
                    to say about us.</p>
            </div>
            <div class="reviews-slider-box">
                <div class="reviews-slider">
                    <div class="reviews-slider-item">
                        <div class="reviews-card">
                            <div class="reviews-card-header">
                                <div class="reviewer-img-box">
                                    <img src="{{ url_for('static', filename='images/dryve-owner.png') }}" alt="img"/>
                                </div>
                                <div class="reviewer-info">
                                    <h5>Sam Kahanov</h5>
                                    <div>Head of Product Management</div>
                                </div>
                                <img src="{{ url_for('static', filename='images/svgs/dryve.svg') }}" class="product-logo" alt="img"/>
                            </div>
                            <div class="reviews-card-body">
                                <div class="comments">
                                <span class="comment-start-quote"><img src="{{ url_for('static', filename='images/reviews-quote.svg') }}" alt="Techverx Reviews"/></span>
                                    <p>Working with Techverx has been a great collaboration is more
                                        than an understatement.
                                        They are engaging, interactive and futuristic. They are always a
                                        step ahead of the game.
                                        The inhouse support is always there around the clock to keep us
                                        updated about the process.
                                        <span class="comment-end-quote"><img src="{{ url_for('static', filename='images/reviews-quote.svg') }}" alt="Techverx Reviews"/></span>
                                    </p>
                                </div>
                                <a href="/case-studies/dryvenyc/" class="navigator"><img src="{{ url_for('static', filename='images/svgs/white-arrow.svg') }}" alt="img"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="reviews-slider-item">
                        <div class="reviews-card">
                            <div class="reviews-card-header">
                                <div class="reviewer-img-box">
                                    <img src="{{ url_for('static', filename='images/david.png') }}" alt="img"/>
                                </div>
                                <div class="reviewer-info">
                                    <h5>David Gay</h5>
                                    <div>Head of Engineering</div>
                                </div>
                                <img src="{{ url_for('static', filename='images/svgs/lightpoint.svg') }}" class="product-logo"alt="img"/>
                            </div>
                            <div class="reviews-card-body">
                                <div class="comments">
                                <span class="comment-start-quote"><img src="{{ url_for('static', filename='images/reviews-quote.svg') }}" alt="Techverx Reviews"/></span>
                                    <p>We reached out to Techverx in March 2019 and asked them to
                                        provide us with a proof of concept
                                        for a new subsystem that we were building. They rose to the
                                        challenge and delivered
                                        a great POC in the four week timeframe. Since, that time Techverx
                                        has been a great
                                        partner for us. They are an integral part of both our architecture
                                        and development teams.
                                        <span class="comment-end-quote"><img src="{{ url_for('static', filename='images/reviews-quote.svg') }}" alt="Techverx Reviews"/></span>
                                    </p>
                                </div>
                                <a href="/case-studies/lightpoint/" class="navigator"><img src="{{ url_for('static', filename='images/svgs/white-arrow.svg') }}" alt="img"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="reviews-slider-item">
                        <div class="reviews-card">
                            <div class="reviews-card-header">
                                <div class="reviewer-img-box">
                                    <img src="{{ url_for('static', filename='images/postal-method.png') }}" alt="img"/>
                                </div>
                                <div class="reviewer-info">
                                    <h5>Barbara Roscher</h5>
                                    <div>Director Information Technology</div>
                                </div>
                                <img src="{{ url_for('static', filename='images/svgs/postal-method.svg') }}"
                                     class="product-logo"alt="img"/>
                            </div>
                            <div class="reviews-card-body">
                                <div class="comments">
                                <span class="comment-start-quote"><img src="{{ url_for('static', filename='images/reviews-quote.svg') }}" alt="Techverx Reviews"/></span>
                                    <p>We worked with Techverx on the development of an application.
                                        Their team took on the task as though it was being developed for
                                        themselves.
                                        Their expertise, support and contributions were very key to the
                                        success. Techverx continues to be involved in further development
                                        for our
                                        company. I highly recommend their services.
                                        <span class="comment-end-quote"><img src="{{ url_for('static', filename='images/reviews-quote.svg') }}" alt="Techverx Reviews"/></span>
                                    </p>
                                </div>
                                <a href="/case-studies/postal-methods/" class="navigator"><img src="{{ url_for('static', filename='images/svgs/white-arrow.svg') }}" alt="img"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>