<!--Engagement And Models-->
<section class="section-padding engagement-model-section">
    <div class="container">
        <div class="container-medium px-0">
            <h2 class="text-darkblue text-sm-center mb-4">Engagement Model</h2>
            <div class="mb-5">
                <p class="text-large text-sm-center">As we guarantee the high quality
                    products and supports transparency throughout the development journey,
                    our clients are always a active part of it.</p>
            </div>
            <div class="engagement-model-cards">
                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="flip-card-box">
                            <div class="bottom-vertical-animation">
                                <img src="{{ url_for('static', filename='images/hexa-orange.png') }}" alt="img">
                            </div>
                            <div class="flip-card " data-wow-duration="2s">
                                <div class="front" style="background-image:
                                        url(static/images/augmented-team.jpg)">
                                    <div class="front-title-box">
                                        <h2 class="mb-0" style="font-size: 36px;">Team Augmentation</h2>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="back-body">
                                        <h2 style="font-size: 36px;">Team Augmentation</h2>
                                        <p class="mb-4 text-medium">The most proficient tech team is at your beck and
                                            call.</p>

                                        <p class="text-medium">These resources are pooled in after being rigorously
                                            inspected and they can be chosen and led as you prefer </p>
                                    </div>
                                    <div class="back-footer">
                                        <div class="inner1">
                                            <a href="https://www.techverx.com/software-staff-augmentation-services-usa/">Read More</a>
                                        </div>
                                        <div class="inner2"><a href="https://www.techverx.com/software-staff-augmentation-services-usa/"><img src="{{ url_for('static', filename='images/svgs/white-arrow.svg') }}" alt="arrow"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="flip-card-box">
                            <div class="top-vertical-animation">
                                <img src="{{ url_for('static', filename='images/hexa-green.png') }}" alt="img">
                            </div>
                            <div class="flip-card " data-wow-duration="2s">
                                <div class="front" style="background-image:
                                        url(static/images/fixed-pricing.jpg)">
                                    <div class="front-title-box">
                                        <h2 class="mb-0" style="font-size: 36px;">Fixed Price</h2>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="back-body">
                                        <h2 style="font-size: 36px;">Fixed Price</h2>
                                        <p class="mb-4 text-medium">Plan a budget for your software development idea and
                                            implement it by streamlining your money matters with a team before getting
                                            into long term commitment.</p>
                                        <ul class="no-bullets text-medium">
                                            <li class="mb-1"><b>Timely Delivery</b></li>
                                            <li class="mb-1"><b>Discovery Team</b></li>
                                            <li class="mb-1"><b>Determined Expenses</b></li>
                                            <li class="mb-1"><b>Ease of Working</b></li>
                                            <li class="mb-1"><b>Security</b></li>
                                        </ul>
                                    </div>
                                    <div class="back-footer">
                                        <div class="inner1">
                                            <a href="https://www.techverx.com/fixed-price-software-development/">Read More</a>
                                        </div>
                                        <div class="inner2"><a href="https://www.techverx.com/fixed-price-software-development/"><img src="{{ url_for('static', filename='images/svgs/white-arrow.svg') }}" alt="arrow"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="solution-section bg-cover-center text-white text-sm-center" style="background-image: url(static/images/hexa-bg-black.png)">
    <div class="glass-effect-layer">
        <div class="container">
            <h2 class="custom-mb-5" style="margin-bottom: 0px">
                <span class="fw-thin" style="font-size: 60px; line-height: 58px;">BUILD A PERFECT TECHNOLOGY SOLUTION</span></h2>
            <h4 style="font-size: 60px; line-height: 58px;">ACCORDING TO YOUR BUSINESS GOALS</h4>
            <div class="text-large mb-5">
                <p style="padding-top: 4rem;">Combine our domain expertise, technical excellence, skilled in-house
                    development teams, and well-established processes with your vision and
                    we’ll create a great software product for your business.</p>
            </div>
            <a href="#contact-section" class="hexagone-btn mx-auto">
                <div class="border-layer"></div>
                <div class="bg-layer"><img src="{{ url_for('static', filename='images/hexa-fill-blue.png') }}" alt="img"></div>
                <div class="text-layer">Let's<br>Start</div>
            </a>
        </div>
    </div>
</section>