<!--Services section-->
<section class="section-padding services-section d-sm-block d-none">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 650px;">
            <h3 class="text-darkblue">Services We Offer</h3>
            <p>We can help you bring your product to life - whether it's a Minimum Viable Product, UX/UI Services or
                help to scale your company.</p>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4">
                <div class="service-card3 h-100">
                    <div class="service-card3-header">
                        <h5 class="service-card3-title text-darkblue mb-0">Software<br>Development</h5>
                        <div class="icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/custom-software-development-service-icon.svg') }}" alt="img">
                        </div>
                    </div>
                    <div class="service-card3-body">
                        <ul class="no-bullets">
                            <li><a href="service.html">Custom Software Development</a></li>
                            <li><a href="https://www.techverx.com/web-design-and-development-services/">UI/UX Design</a></li>
                            <li><a href="https://www.techverx.com/project-discovery-workshop-services/">Discovery Workshop</a></li>
                            <li><a href="https://www.techverx.com/web-application-development-company-usa/">Web &amp; Mobile App Development</a></li>
                            <li><a href="https://www.techverx.com/software-support-and-maintenance/">Support &amp; Maintenance</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-card3 h-100">
                    <div class="service-card3-header">
                        <h5 class="service-card3-title text-darkblue mb-0">Digital<br>Transformation</h5>
                        <div class="icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/digital-transformation-service-icon.svg') }}" alt="img">
                        </div>
                    </div>
                    <div class="service-card3-body">
                        <ul class="no-bullets">
                            <li><a href="https://www.techverx.com/agile-transformation/">Agile Transformation</a></li>
                            <li><a href="https://www.techverx.com/application-modernization/">Application Modernization</a></li>
                            <li><a href="https://www.techverx.com/accelerated-devsecops/">Accelerated DevSecOps</a></li>
                            <li><a href="https://www.techverx.com/human-centered-design/">Human-Centered Design</a></li>
                            <li><a href="https://www.techverx.com/kubermetes-services/">Kubernetes Services</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-card3 h-100">
                    <div class="service-card3-header">
                        <h5 class="service-card3-title text-darkblue mb-0">Data &amp; <br>Intelligence</h5>
                        <div class="icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/data-n-intelligence-service-icon.svg') }}" alt="img">
                        </div>
                    </div>
                    <div class="service-card3-body">
                        <ul class="no-bullets">
                            <li><a href="javascript:void(0)">Data Modernization</a></li>
                            <li><a href="javascript:void(0)">Data Engineering</a></li>
                            <li><a href="javascript:void(0)">Data Insights &amp; Actions</a></li>
                            <li><a href="javascript:void(0)">Agile DataOps</a></li>
                            <li><a href="javascript:void(0)">AI &amp; Machine Learning</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-card3 h-100">
                    <div class="service-card3-header">
                        <h5 class="service-card3-title text-darkblue mb-0">Cloud<br>Enablement</h5>
                        <div class="icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/cloud-enablement-service-icon.svg') }}" alt="img">
                        </div>
                    </div>
                    <div class="service-card3-body">
                        <ul class="no-bullets">
                            <li><a href="https://www.techverx.com/multi-cloud-strategy/">Multi-Cloud Strategy</a></li>
                            <li><a href="https://www.techverx.com/cloud-management/">Cloud Management</a></li>
                            <li><a href="https://www.techverx.com/cloud-engineering/">Cloud Engineering</a></li>
                            <li><a href="https://www.techverx.com/cloud-transformation/">Cloud Transformation</a></li>
                            <li><a href="https://www.techverx.com/observability-and-monitoring/">Observability &amp; Monitoring</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-card3 h-100">
                    <div class="service-card3-header">
                        <h5 class="service-card3-title text-darkblue mb-0">Enterprise<br>Solutions</h5>
                        <div class="icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/enterprise-solutions-service-icon.svg') }}" alt="img">
                        </div>
                    </div>
                    <div class="service-card3-body">
                        <ul class="no-bullets">
                            <li><a href="https://www.techverx.com/sharepoint/">SharePoint</a></li>
                            <li><a href="https://www.techverx.com/ms-dynamics-development-and-integration-services/">Ms Dynamics</a></li>
                            <li><a href="https://www.techverx.com/workday-implementation-and-solutions/">Workday</a></li>
                            <li><a href="https://www.techverx.com/shopify-development-services-usa/">Shopify</a></li>
                            <li><a href="https://www.techverx.com/azure-and-aws-solutions/">Azure and AWS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-card3 h-100">
                    <img class="service-card3-arrow-icon" src="{{ url_for('static', filename='images/arrow-blue.png') }}" alt="img">
                    <div class="h-100 p-4 d-flex align-items-center justify-content-center">
                        <a href="https://www.techverx.com/tailored-services/" class="no-decoration text-black text-center">View All<br>Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Mobile Section -->
<section class="section-padding services-section d-sm-none d-block">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 650px;">
            <h3 class="text-darkblue">Services We Offer</h3>
            <p>We can help you bring your product to life - whether it's a Minimum Viable Product, UX/UI Services or
                help to scale your company.</p>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4">
                <div class="service-card3 h-100">
                    <div class="service-card3-header">
                        <h5 class="service-card3-title text-darkblue mb-0">Software<br>Development</h5>
                        <div class="icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/custom-software-development-service-icon.svg') }}" alt="img">
                        </div>
                    </div>
                    <div class="service-card3-body">
                        <ul class="no-bullets">
                            <li><a href="service.html">Custom Software Development</a></li>
                            <li><a href="https://www.techverx.com/web-design-and-development-services/">UI/UX Design</a></li>
                            <li><a href="https://www.techverx.com/project-discovery-workshop-services/">Discovery Workshop</a></li>
                            <li><a href="https://www.techverx.com/web-application-development-company-usa/">Web &amp; Mobile App Development</a></li>
                            <li><a href="https://www.techverx.com/software-support-and-maintenance/">Support &amp; Maintenance</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-card3 h-100">
                    <div class="service-card3-header">
                        <h5 class="service-card3-title text-darkblue mb-0">Digital<br>Transformation</h5>
                        <div class="icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/digital-transformation-service-icon.svg') }}" alt="img">
                        </div>
                    </div>
                    <div class="service-card3-body">
                        <ul class="no-bullets">
                            <li><a href="https://www.techverx.com/agile-transformation/">Agile Transformation</a></li>
                            <li><a href="https://www.techverx.com/application-modernization/">Application Modernization</a></li>
                            <li><a href="https://www.techverx.com/accelerated-devsecops/">Accelerated DevSecOps</a></li>
                            <li><a href="https://www.techverx.com/human-centered-design/">Human-Centered Design</a></li>
                            <li><a href="https://www.techverx.com/kubermetes-services/">Kubernetes Services</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-card3 h-100">
                    <div class="service-card3-header">
                        <h5 class="service-card3-title text-darkblue mb-0">Data &amp; <br>Intelligence</h5>
                        <div class="icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/data-n-intelligence-service-icon.svg') }}" alt="img">
                        </div>
                    </div>
                    <div class="service-card3-body">
                        <ul class="no-bullets">
                            <li><a href="javascript:void(0)">Data Modernization</a></li>
                            <li><a href="javascript:void(0)">Data Engineering</a></li>
                            <li><a href="javascript:void(0)">Data Insights &amp; Actions</a></li>
                            <li><a href="javascript:void(0)">Agile DataOps</a></li>
                            <li><a href="javascript:void(0)">AI &amp; Machine Learning</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-card3 h-100">
                    <div class="service-card3-header">
                        <h5 class="service-card3-title text-darkblue mb-0">Cloud<br>Enablement</h5>
                        <div class="icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/cloud-enablement-service-icon.svg') }}" alt="img">
                        </div>
                    </div>
                    <div class="service-card3-body">
                        <ul class="no-bullets">
                            <li><a href="https://www.techverx.com/multi-cloud-strategy/">Multi-Cloud Strategy</a></li>
                            <li><a href="https://www.techverx.com/cloud-management/">Cloud Management</a></li>
                            <li><a href="https://www.techverx.com/cloud-engineering/">Cloud Engineering</a></li>
                            <li><a href="https://www.techverx.com/cloud-transformation/">Cloud Transformation</a></li>
                            <li><a href="https://www.techverx.com/observability-and-monitoring/">Observability &amp; Monitoring</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-card3 h-100">
                    <div class="service-card3-header">
                        <h5 class="service-card3-title text-darkblue mb-0">Enterprise<br>Solutions</h5>
                        <div class="icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/enterprise-solutions-service-icon.svg') }}" alt="img">
                        </div>
                    </div>
                    <div class="service-card3-body">
                        <ul class="no-bullets">
                            <li><a href="https://www.techverx.com/sharepoint/">SharePoint</a></li>
                            <li><a href="https://www.techverx.com/ms-dynamics-development-and-integration-services/">Ms Dynamics</a></li>
                            <li><a href="https://www.techverx.com/workday-implementation-and-solutions/">Workday</a></li>
                            <li><a href="https://www.techverx.com/shopify-development-services-usa/">Shopify</a></li>
                            <li><a href="https://www.techverx.com/azure-and-aws-solutions/">Azure and AWS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-card3 h-100">
                    <img class="service-card3-arrow-icon" src="{{ url_for('static', filename='images/arrow-blue.png') }}" alt="img">
                    <div class="h-100 p-4 d-flex align-items-center justify-content-center">
                        <a href="https://www.techverx.com/tailored-services/" class="no-decoration text-black text-center">View All<br>Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="expertise-section" class="experties-section d-sm-block d-none" style="background-color: #f4f6f7;">
    <div class="experties-container">
        <div class="left-col">
            <div class="left-col-content">
                <h2 class="underline-text">Our Expertise</h2>
                <p class="text-large mb-4">Flexible solutions for modern world</p>
                <p>An ultimate partner for future proof digital transformation</p>
                <div class="experties-slider-nav">
                    <div class="slider-nav-slide">
                        <div class="nav-btn">Custom Software Development</div>
                    </div>
                    <div class="slider-nav-slide">
                        <div class="nav-btn">Enterprise Solutions</div>
                    </div>
                    <div class="slider-nav-slide">
                        <div class="nav-btn">Industry Solutions</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-col">
            <div class="experties-slider-box">
                <div class="experties-slider">
                    <div class="experties-slider-slide">
                        <div class="slide-container">
                            <div class="inner1">
                                <div class="left-col-inner">
                                    <div class="img-box">
                                        <img src="{{ url_for('static', filename='images/img1-2x.png') }}" alt="img"/>
                                    </div>
                                </div>
                            </div>
                            <div class="inner2">
                                <div class="content-container">
                                    <h2 class="text-darkblue">Custom Software Development</h2>
                                    <div class="description">
                                        <p>Techverx commands insurmountable prowess in software development
                                            and caters to diverse clientele requirements.</p>
                                        <p> Our experiences range from flourishing start-ups, SMEs, to
                                            Global enterprises that have maintained prime quality.</p>
                                        <p>We offer the following services:</p>
                                    </div>
                                </div>
                                <ul class="hexa-bullted-lilst mb-4">
                                    <li>Web and App development</li>
                                    <li>DevOps</li>
                                    <li>Custom software development</li>
                                    <li>QA/Testing</li>
                                    <li>UI/UX Design</li>
                                </ul>
                                <a href="#contact-section" class="tv-btn tv-btn-secondary">Get Started<img src="{{ url_for('static', filename='images/svgs/white-arrow.svg') }}" class="ms-4"alt="img"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="experties-slider-slide">
                        <div class="slide-container">
                            <div class="inner1">
                                <div class="left-col-inner">
                                    <div class="img-box">
                                        <img src="{{ url_for('static', filename='images/img2-2x.png') }}" alt="img"/>
                                    </div>
                                </div>
                            </div>
                            <div class="inner2">
                                <div class="content-container">
                                    <h2 class="text-darkblue">Enterprise Solutions</h2>
                                    <div class="description">
                                        <p>We are at the helm of creating a sound international bridge between IT,
                                            engineering organizations and affiliate syndicates in North America. Our
                                            varied clients are provided with staff accretion. </p>
                                        <p>We have command over the following platforms:</p>
                                    </div>
                                </div>
                                <ul class="hexa-bullted-lilst mb-4">
                                    <li>SharePoint</li>
                                    <li>DevOps</li>
                                    <li>MS Dynamics</li>
                                    <li>AWS</li>
                                    <li>Salesforce</li>
                                    <li>Shopify</li>
                                    <li>Workday</li>
                                </ul>
                                <a href="#contact-section" class="tv-btn tv-btn-secondary">Get Started<img src="{{ url_for('static', filename='images/svgs/white-arrow.svg') }}" class="ms-4"alt="img"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="experties-slider-slide">
                        <div class="slide-container">
                            <div class="inner1">
                                <div class="left-col-inner">
                                    <div class="img-box">
                                        <img src="{{ url_for('static', filename='images/img3-2x.png') }}" alt="img"/>
                                    </div>
                                </div>
                            </div>
                            <div class="inner2">
                                <div class="content-container">
                                    <h2 class="text-darkblue">Industry Solutions</h2>
                                    <div class="description">
                                        <p>With dynamic industrial status, we equip our clients for competition in the
                                            technological arena. Techverx employs dedicated and talented resources that
                                            can cater to your needs.</p>
                                        <p>We excel at providing the following industry solutions.</p>
                                    </div>
                                </div>
                                <ul class="hexa-bullted-lilst mb-4">
                                    <li>Data Science</li>
                                    <li>IoT</li>
                                    <li>AR/VR</li>
                                    <li>Blockchain</li>
                                    <li>AI & ML</li>
                                </ul>
                                <a href="#contact-section" class="tv-btn tv-btn-secondary">Get Started<img src="{{ url_for('static', filename='images/svgs/white-arrow.svg') }}" class="ms-4"alt="img"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="experties-section-mobile section-padding d-sm-none d-block text-white bg-cover-center">
    <div class="container">
        <h2 class="underline-text">Our Expertise</h2>
        <p class="text-large mb-4">Flexible solutions for modern world</p>

        <div class="experties-mobile-slider-box">
            <div class="experties-mobile-slider">
                <div class="experties-mobile-slider-item">
                    <div class="experties-mobile-slider-item-inner">
                        <h2 class="text-success mb-4">Custom Software Development</h2>
                        <div class="description">
                            <p>Techverx commands insurmountable prowess in software development and
                                caters to diverse clientele requirements.</p>
                            <p>We offer the following services:</p>
                        </div>
                        <ul class="hexa-bullted-lilst mb-5">
                            <li>Web and App development</li>
                            <li>DevOps</li>
                            <li>Custom software development</li>
                            <li>QA/Testing</li>
                            <li>UI/UX Design</li>
                        </ul>
                        <a href="#contact-section" class="tv-btn tv-btn-secondary">Get Started<img src="{{ url_for('static', filename='images/svgs/white-arrow.svg') }}" class="ms-4" alt="img"></a>
                    </div>
                </div>
                <div class="experties-mobile-slider-item">
                    <div class="experties-mobile-slider-item-inner">
                        <h2 class="text-success mb-4">Enterprise Solutions</h2>
                        <div class="description">
                            <p>Techverx commands insurmountable prowess in software development and
                                caters to diverse clientele requirements.</p>
                            <p>We offer the following services:</p>
                        </div>
                        <ul class="hexa-bullted-lilst mb-5">
                            <li>Web and App development</li>
                            <li>DevOps</li>
                            <li>Custom software development</li>
                            <li>QA/Testing</li>
                            <li>UI/UX Design</li>
                        </ul>
                        <a href="#contact-section" class="tv-btn tv-btn-secondary">Get Started<img src="{{ url_for('static', filename='images/svgs/white-arrow.svg') }}" class="ms-4" alt="img"></a>
                    </div>
                </div>
                <div class="experties-mobile-slider-item">
                    <div class="experties-mobile-slider-item-inner">
                        <h2 class="text-success mb-4">Industry Solutions</h2>
                        <div class="description">
                            <p>Techverx commands insurmountable prowess in software development and
                                caters to diverse clientele requirements.</p>
                            <p>We offer the following services:</p>
                        </div>
                        <ul class="hexa-bullted-lilst mb-5">
                            <li>Web and App development</li>
                            <li>DevOps</li>
                            <li>Custom software development</li>
                            <li>QA/Testing</li>
                            <li>UI/UX Design</li>
                        </ul>
                        <a href="#contact-section" class="tv-btn tv-btn-secondary">Get Started<img src="{{ url_for('static', filename='images/svgs/white-arrow.svg') }}" class="ms-4" alt="img"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>