<!--Technologies section-->
<section class="section-padding technologies-section" style="background-color: #00337F;">
    <div class="container">
        <h4 class="text-white text-sm-center" style="font-size: 57px;">Technologies That Will Move You To The Top</h4>
        <div class="technologies-slider-box">
            <div class="technologies-slider">
                <div class="technologies-slider-item">
                    <div class="technologies-slider-item-inner">
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/js-logo.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/reactjs.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/appstore.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/dotnet.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/angular.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/java.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/ruby-white.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/react-white-covered.svg') }}" alt="img"/>
                        </div>
                    </div>
                </div>
                <div class="technologies-slider-item">
                    <div class="technologies-slider-item-inner">
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/nodejs-white.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/jango.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/swift.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/dart.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/typescript.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/java.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/php.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/diamond.svg') }}" alt="img"/>
                        </div>
                    </div>
                </div>
                <div class="technologies-slider-item">
                    <div class="technologies-slider-item-inner">
                        <!-- <div class="technologies-icon-box">
                        <img src="images/svgs/icecream.svg" alt="img" />
                    </div> -->
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/python.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/bindhi.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/android.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/golang.svg') }}" alt="img"/>
                        </div>
                        <div class="technologies-icon-box">
                            <img src="{{ url_for('static', filename='images/svgs/database.svg') }}" alt="img"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>