<section class="hero-section wow fadeIn" data-wow-duration="1s" style="background-color: rgb(0, 28, 55); background-image: url('static/images/pattren1.png');">
    <div class="container">
        <h3 class="text-white content-block">
            <div class="fw-light">MEANINGFUL</div>
            <div class="text-indent">INNOVATIONS</div>
            <div class="partners-block">
                <img src="{{ url_for('static', filename='images/svgs/microsoft-partner1-home.svg') }}" alt="img">
                <img src="{{ url_for('static', filename='images/svgs/microsoft-partner2-home.svg') }}" alt="img">
            </div>
        </h3>
    </div>

    <div class="hero-bottom-area text-center text-white">
        <div class="container-fluid">
            <div class="mouse mx-auto d-lg-block d-none"></div>
            <p class="mt-4 text-trusted-by">Trusted by startups and Fortune 500 Companies</p>
        </div>
        <div class="marquee-slider">
            <div class="marquee-slider-item">
                <div class="slider-item-inner">
                    <img src="{{ url_for('static', filename='images/svgs/subway.svg') }}" alt="img"/>
                </div>
            </div>
            <div class="marquee-slider-item">
                <div class="slider-item-inner">
                    <img src="{{ url_for('static', filename='images/svgs/rbc.svg') }}" alt="img"/>
                </div>
            </div>
            <div class="marquee-slider-item">
                <div class="slider-item-inner">
                    <img src="{{ url_for('static', filename='images/svgs/pepsi.svg') }}" alt="img"/>
                </div>
            </div>
            <div class="marquee-slider-item">
                <div class="slider-item-inner">
                    <img src="{{ url_for('static', filename='images/svgs/pavemint.svg') }}" alt="img"/>
                </div>
            </div>
            <div class="marquee-slider-item">
                <div class="slider-item-inner">
                    <img src="{{ url_for('static', filename='images/svgs/heart-beat.svg') }}" alt="img"/>
                </div>
            </div>
            <div class="marquee-slider-item">
                <div class="slider-item-inner">
                    <img src="{{ url_for('static', filename='images/svgs/stay.svg') }}" alt="img"/>
                </div>
            </div>
            <div class="marquee-slider-item">
                <div class="slider-item-inner">
                    <img src="{{ url_for('static', filename='images/svgs/moishe-house.svg') }}" alt="img"/>
                </div>
            </div>
        </div>

    </div>
</section>