<header id="innovidio-main-header">
    <div class="header-inner">
        <div class="header-left">
            <a href="index.html" class="logo-box">
                <img src="{{ url_for('static', filename='images/innovideo-logo.png') }}" class="logo-before-scroll" alt="img">
            </a>
        </div>
        <div class="header-center">
            <nav>
                <ul>
                    <li>
                        <a href="/company/">Company</a>
                        <div class="mega-menu">
                            <div class="mega-menu-sidebar">
                                <ul class="nav nav-tabs" id="companyTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button data-page-url="/company/" class="nav-link active" id="about-techverx-tab" data-bs-toggle="tab" data-bs-target="#about-techverx" type="button" role="tab" aria-controls="about-techverx" aria-selected="true">
                                            <h6>About Techverx</h6>
                                            <img class="arrow-img" src="{{ url_for('static', filename='images/arrow-right-blue.svg') }}" alt="img">
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="mega-menu-contentbar">
                                <div class="tab-content" id="companyTabContent">
                                    <div class="tab-pane fade show active" id="about-techverx" role="tabpanel" aria-labelledby="about-techverx-tab">
                                        <h6 class="text-primary mb-3">Achievements &amp; Awards</h6>
                                        <div class="row gy-md-2 gy-xxl-3 gx-4 mb-5">
                                            <div class="col-xl-4 col-md-6">
                                                <a href="#" class="mega-menu-award">
                                                    <img src="{{ url_for('static', filename='images/microsoft-partner1.png')}}" alt="img">
                                                </a>
                                            </div>
                                            <div class="col-xl-4 col-md-6">
                                                <a href="#" class="mega-menu-award">
                                                    <img src="{{ url_for('static', filename='images/microsoft-partner2.png') }}" alt="img">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="mega-menu-certificates">
                                            <div class="single-certificate">
                                                <img class="certificate-image" src="{{ url_for('static', filename='images/aws-partner.png') }}" alt="img">
                                            </div>
                                            <div class="single-certificate">
                                                <img class="certificate-image" src="{{ url_for('static', filename='images/azure.png') }}" alt="img">
                                            </div>
                                            <div class="single-certificate">
                                                <img class="certificate-image" src="{{ url_for('static', filename='images/badge8.png') }}" alt="img">
                                            </div>
                                            <div class="single-certificate">
                                                <img class="certificate-image" src="{{ url_for('static', filename='images/badge7.png') }}" alt="img">
                                            </div>
                                            <div class="single-certificate">
                                                <img class="certificate-image" src="{{ url_for('static', filename='images/badge5.png') }}" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/tailored-services/">Services</a>
                        <div class="mega-menu">
                            <div class="mega-menu-sidebar">
                                <div class="px-4 px-xxl-5 py-3 py-xxl-4 megamenu-sidebar-data">
                                    <div>
                                        <h6 class="mega-menu-widget-title mb-xxl-3">SOLUTIONS</h6>
                                        <ul>
                                            <li><a href="https://www.techverx.com/sharepoint/">SharePoint</a></li>
                                            <li><a href="https://www.techverx.com/ms-dynamics-development-and-integration-services/">MS Dynamics</a></li>
                                            <li><a href="https://www.techverx.com/workday-implementation-and-solutions/">Workday</a></li>
                                            <li><a href="https://www.techverx.com/azure-and-aws-solutions/">Azure and AWS</a></li>
                                            <li><a href="https://www.techverx.com/salesforce-development-and-consulting-services/">Salesforce</a></li>
                                        </ul>
                                    </div>
                                    <div class="mb-xxl-2">
                                        <a href="https://www.techverx.com/life-at-techverx/" class="tv-btn tv-btn-outline-secondary"><img class="arrow-img" src="{{ url_for('static', filename='images/svgs/techverx-mini-logo2.svg') }}" alt="img">Life at Techverx</a>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="mega-menu-contentbar">
                                <div class="px-xxl-4 py-xxl-2">
                                    <div class="row gy-4 gy-xxl-5">
                                        <div class="col-md-3">
                                            <h6 class="mega-menu-widget-title mb-xxl-3">EXPERTISE</h6>
                                            <ul>
                                                <li><a href="service.html">Custom Software Development</a></li>
                                                <li><a href="https://www.techverx.com/web-application-development-company-usa/">Web App Development</a></li>
                                                <li><a href="https://www.techverx.com/software-testing-and-quality-assurance/">QA &amp; Testing</a></li>
                                                <li><a href="https://www.techverx.com/custom-mobile-app-development-company-usa/">Mobile App Development</a></li>
                                                <li><a href="https://www.techverx.com/web-design-and-development-services/">UI/UX</a></li>
                                                <li><a href="https://www.techverx.com/devops-consulting-and-solutions/">DevOps</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h6 class="mega-menu-widget-title mb-xxl-3">Digital Transformation</h6>
                                            <ul>
                                                <li><a href="https://www.techverx.com/agile-transformation/">Agile Transformation</a></li>
                                                <li><a href="https://www.techverx.com/application-modernization/">Application Modernization</a></li>
                                                <li><a href="https://www.techverx.com/accelerated-devsecops/">Accelerated DevSecOps</a></li>
                                                <li><a href="https://www.techverx.com/human-centered-design/">Human-Centered Design</a></li>
                                                <li><a href="https://www.techverx.com/kubernetes-services/">Kubernetes Services</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h6 class="mega-menu-widget-title mb-xxl-3">Data &amp; Intelligence</h6>
                                            <ul>
                                                <li><a href="https://www.techverx.com/data-modernization/">Data Modernization</a></li>
                                                <li><a href="https://www.techverx.com/data-engineering/">Data Engineering</a></li>
                                                <li><a href="https://www.techverx.com/data-insights-and-actions/">Data Insights &amp; Actions</a></li>
                                                <li><a href="https://www.techverx.com/agile-dataops/">Agile DataOps</a></li>
                                                <li><a href="https://www.techverx.com/ai-and-machine-learning/">AI &amp; Machine Learning</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h6 class="mega-menu-widget-title mb-xxl-3">Cloud enablement</h6>
                                            <ul>
                                                <li><a href="https://www.techverx.com/multi-cloud-strategy/">Multi-Cloud Strategy</a></li>
                                                <li><a href="https://www.techverx.com/cloud-management/">Cloud Management</a></li>
                                                <li><a href="https://www.techverx.com/cloud-engineering/">Cloud Engineering</a></li>
                                                <li><a href="https://www.techverx.com/cloud-transformation/">Cloud Transformation</a></li>
                                                <li><a href="https://www.techverx.com/observability-and-monitoring/">Observability &amp; Monitoring</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h6 class="mega-menu-widget-title mb-xxl-3">PRODUCTS</h6>
                                            <ul>
                                                <li><a href="https://www.techverx.com/software-staff-augmentation-services-usa/">Team Augmentation</a></li>
                                                <li><a href="https://www.techverx.com/fixed-price-software-development/">Fixed Price</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row gy-3 mt-4 align-items-end">
                                        <div class="col-md-4">
                                            <a href="https://www.techverx.com/tailored-services/" class="btn-card">
                                                <div class="card-icon-box">
                                                    <img src="{{ url_for('static', filename='images/svgs/megamenu-services-card-icon.svg') }}" alt="img">
                                                </div>
                                                <div class="card-text-box">
                                                    <h6 class="mb-0">Servises</h6>
                                                    <span>Browse All</span>
                                                </div>
                                                <div class="card-arrow-icon-box">
                                                <img src="{{ url_for('static', filename='images/arrow-blue.png') }}" alt="img">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="https://www.techverx.com/software-development-expertise/" class="btn-card">
                                                <div class="card-icon-box">
                                                    <img src="{{ url_for('static', filename='images/svgs/megamenu-expertise-card-icon.svg') }}" alt="img">
                                                </div>
                                                <div class="card-text-box">
                                                    <h6 class="mb-0">Expertise</h6>
                                                    <span>Browse All</span>
                                                </div>
                                                <div class="card-arrow-icon-box">
                                                <img src="{{ url_for('static', filename='images/arrow-blue.png') }}" alt="img">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="https://www.techverx.com#expertise-section" class="btn-card">
                                                <div class="card-icon-box">
                                                    <img src="{{ url_for('static', filename='images/svgs/megamenu-enterprise-card-icon.svg') }}" alt="img">
                                                </div>
                                                <div class="card-text-box">
                                                    <h6 class="mb-0">Enterprise Solutions</h6>
                                                    <span>Learn More</span>
                                                </div>
                                                <div class="card-arrow-icon-box">
                                                <img src="{{ url_for('static', filename='images/arrow-blue.png') }}" alt="img">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="/software-development-company-portfolio/">Case Studies</a></li>
                    <li><a href="/software-company-blog/">Blogs</a></li>
                    <li><a href="career.html">Careers</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-right">
            <a href="#contact-section" class="tv-btn me-4">Get Started</a>
            <div class="hamburger" id="collapse-btn">
                <div class="line line1"></div>
                <div class="line line2"></div>
            </div>
        </div>
    </div>
</header>

<div class="right-sidebar">
    <div class="right-sidebar-inner">
        <div class="sidebar-left-content">
            <div class="sidebar-left-content-inner-wrapper custom-scrollbar">
                <ul class="nav nav-tabs" id="companyTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a data-page-url="/tailored-services/" class="nav-link active custom-primary-link primary-color" id="right-sideabar-services-tab" data-bs-toggle="tab" data-bs-target="#right-sideabar-services" type="button" role="tab" aria-controls="right-sideabar-services" aria-selected="true">
                            Services
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button data-page-url="/software-development-expertise/" class="nav-link custom-primary-link primary-color" id="right-sideabar-expertise-tab" data-bs-toggle="tab" data-bs-target="#right-sideabar-expertise" type="button" role="tab" aria-controls="right-sideabar-expertise" aria-selected="false">
                            Expertise
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/enterprise-business-services-and-solutions/" class="nav-link custom-primary-link primary-color" id="enterprise-solution">
                            Enterprise
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/portfolio" data-page-url="/software-development-company-portfolio/" class="nav-link custom-primary-link primary-color" id="case-studies-tab" data-bs-toggle="tab" data-bs-target="#case-studies" role="tab" aria-controls="case-studies" aria-selected="false">
                            Case Studies
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/company" class="nav-link custom-primary-link primary-color">
                            Company
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/software-company-blog/" class="nav-link custom-primary-link primary-color">
                            Blog
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="#contact-section" class="nav-link custom-primary-link primary-color">
                            Contacts
                        </a>
                    </li>
                </ul>
            </div>
            <div class="social-media-links">
                <a href="javascript:void(0)"><img src="{{ url_for('static', filename='images/svgs/facebook.svg') }}" alt="img"></a>
                <a href="javascript:void(0)"><img src="{{ url_for('static', filename='images/svgs/twitter.svg') }}" alt="img"></a>
                <a href="javascript:void(0)"><img src="{{ url_for('static', filename='images/svgs/linkedin.svg') }}" alt="img"></a>
                <a href="javascript:void(0)"><img src="{{ url_for('static', filename='images/svgs/youtube.svg') }}" alt="img"></a>

            </div>
        </div>
        <div class="sidebar-right-content hidden-scrollbar">
            <a href="javascript:void(0)" id="sidebar-close-btn" class="closed-sidebar-btn"><img src="{{ url_for('static', filename='images/svgs/closeIcon.svg') }}" alt="img"></a>
                <div class="tab-content" id="companyTabContent">
                    <div class="tab-pane fade show active" id="right-sideabar-services" role="tabpanel" aria-labelright-sideabar-ledby="right-sideabar-services-tab">
                        <a href="/software-staff-augmentation-services-usa/" class="custom-padding-bottom">
                            <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">Team Augmentation</p>
                            <p class="m-0 text-black text-small">Hire and manage the best tech team. Select from the pool of pre-screened top IT talent and lead them with the methods you prefer.</p>
                        </a>
                        <a href="/software-product-consulting-usa/" class="custom-padding-bottom">
                            <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">Product Consulting</p>
                            <p class="m-0 text-black text-small">Our accomplished product consultants work with your team to understand the requirements and help you in planning, strategizing and developing quality products.</p>
                        </a>
                        <a href="/fixed-price-software-development/" class="custom-padding-bottom">
                            <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">Fixed Price</p>
                            <p class="m-0 text-black text-small">Our exemplary product designers and developers conduct rigorous prototype.</p>
                        </a>
                        <a href="/software-support-and-maintenance/" class="custom-padding-bottom">
                            <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">Support and Maintainance</p>
                            <p class="m-0 text-black text-small">Engineering softwares based on client prerequisites is our forte. From fresh start.</p>
                        </a>
                        <a href="/project-discovery-workshop-services/" class="custom-padding-bottom">
                            <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">Discovery Workshop</p>
                            <p class="m-0 text-black text-small">Our exemplary product designers and developers conduct rigorous prototype.</p>
                        </a>
                        <a href="/software-rescue-missions/" class="custom-padding-bottom">
                            <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">Rescue Missions</p>
                            <p class="m-0 text-black text-small">We employ a veritable team of highly proficient product consultants that can create.</p>
                        </a>
                        <div class="mt-3">
                            <a href="/tailored-services/" class="no-decoration text-small">VIEW ALL SERVICES<img src="{{ url_for('static', filename='images/arrow-blue.png') }}" class="ms-3" alt="img" width="14px"></a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="right-sideabar-expertise" role="tabpanel" aria-labelledby="right-sideabar-expertise-tab">
                        <a href="/custom-software-development-company-usa/" class="custom-padding-bottom">
                            <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">Customer Software Development</p>
                            <p class="m-0 text-black text-small">We are big on referring to data infrastructure of data mining, big data processing, machine know-how, AI development and data analytics extensively and generate elaborate data insights and automated reporting to enable your enterprise making prompt and accurate decisions</p>
                        </a>
                        <a href="/web-application-development-company-usa/" class="custom-padding-bottom">
                            <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">Web App Development</p>
                            <p class="m-0 text-black text-small">From full stack development to QA/Support, get the complete development solution with our highly experienced and skilled web app developers.</p>
                            </a>
                        <a href="/software-testing-and-quality-assurance/" class="custom-padding-bottom">
                            <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">QA &amp; Testing</p>
                            <p class="m-0 text-black text-small">Providing quick bug fixes with automated, security and performance testing. Hire experts that excel in QA and testing to meet your business needs.</p>
                        </a>
                        <a href="/custom-mobile-app-development-company-usa/" class="custom-padding-bottom">
                            <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">Mobile App Development</p>
                            <p class="m-0 text-black text-small">Get complete mobile app development from the experts well versed in modern technology trends that can fulfil your business needs.</p>
                        </a>
                        <a href="/web-design-and-development-services/" class="custom-padding-bottom">
                            <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">UI/UX</p>
                            <p class="m-0 text-black text-small">Our product designers and developers run extensive analysis and usability testing using advanced tools and techniques to provide you with the best solution.</p>
                        </a>
                        <a href="/devops-consulting-and-solutions/" class="custom-padding-bottom">
                            <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">DevOps</p>
                            <p class="m-0 text-black text-small">Skilled DevOps engineers to assist you in evaluating, deploying and managing your business processes and providing you with the best solutions.</p>
                        </a>
                        <div class="mt-3">
                            <a href="/software-development-expertise/" class="no-decoration text-small">VIEW ALL EXPERTISE<img src="{{ url_for('static', filename='images/arrow-blue.png') }}" class="ms-3" alt="img" width="14px"></a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="case-studies" role="tabpanel" aria-labelledby="case-studies-tab">
                        <a href="/case-studies/dryvenyc/" class="custom-padding-bottom">
                                <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">Dryve</p>
                                <p class="m-0 text-black text-small line-clamp3">Dryve is a online app service  to rent cars that’s rideshare ready. Use your phone to sign up, find a car, and start earning. Our Client owns a fleet of 150+ cars that they rent out to part-time drivers for Uber, Lyft and MyTaxi. Client wanted a system to be designed in a whole new perspective.</p>
                        </a>
                        <a href="/case-studies/4stay/" class="custom-padding-bottom">
                                <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">Hstay</p>
                                <p class="m-0 text-black text-small line-clamp3">A property hosting website that brings together students and hosts for long term accommodation plans. OR An Airbnb for students and young professionals.</p>
                        </a>
                        <a href="/case-studies/fs/" class="custom-padding-bottom">
                                <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">Framesuite</p>
                                <p class="m-0 text-black text-small line-clamp3">Framesuite is an online platform for photographers to get their photos framed and delivered to them in HD. The client, Megan DiPiere is a portrait photographer herself and understands the importance of getting pictures printed and delivered to her in the exact quality she clicks them so her customers can get beautiful wall hangings.</p>
                        </a>
                        <a href="/case-studies/lightpoint/" class="custom-padding-bottom">
                                <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">Lightpoint</p>
                                <p class="m-0 text-black text-small line-clamp3">Lightpoint financial technology is an accounting platform that uses the latest software design and infrastructure technologies to provide a comprehensive solution for their clients. Their services include market data services, security mater, portfolio management, order management, trade execution, compliance reconciliation and client reporting. </p>
                        </a>
                        <a href="/case-studies/postal-methods/" class="custom-padding-bottom">
                                <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">PostalMethods</p>
                                <p class="m-0 text-black text-small line-clamp3">PostalMethods is an online print and mail outsourcing company providing secure print and mail services since 1996. Their services include HIPAA compliant printing and mailing services, invoice printing and mailing services, notice printing and mailing and customized printing and mailing services.</p>
                        </a>
                        <a href="/case-studies/valuble/" class="custom-padding-bottom">
                            <p class="primary-color m-0 pb-3 font-sf-pro-display-bold">Valubl</p>
                            <p class="m-0 text-black text-small  line-clamp3">Valubl is a social network for people with unique interests. On Valubl, people can connect based on their interests, collections and displays inspired by things they are most passionate about for example, there are communities for books, holidays, clothes, bobbleheads, legos, stamps etc.</p>
                        </a>
                        <div class="mt-3"><a href="/software-development-company-portfolio/" class="no-decoration text-small">VIEW ALL CASESTUDIES<img src="{{ url_for('static', filename='images/arrow-blue.png') }}" class="ms-3" alt="img" width="14px"></a></div>
                    </div>
                </div>
        </div>
    </div>
</div>
